{% include 'layout.html' %}

{% block body %}
<div class="container">
                <!-- Page Heading -->
                <h1 class="my-4">Item Catalog
                                <small>List Below...</small>
                              </h1>
                        
                              <!-- Project One -->
                              <div class="row">
                                <div class="col-lg-6">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th>Current Items</th>
                                            <th>Date Created</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for item in items %}
                                          <tr>
                                            <td><a href="{{url_for('posts.editItem',item_id = item.id)}}">{{ item.name }}</a></td>
                                            <td>{{ item.created_date.strftime('%m-%d-%Y') }}</td>
                                          </tr>
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                              </div>
                              <!-- /.row -->
                        
                              <hr>
                        
                              <hr>
                        
                            </div>
                            <!-- /.container -->
</div>

        {% endblock %}