<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Item Catalog | Udacity FSND</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
      {% block body %}
      ,<!-- Some html -->
      {% endblock %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
  </body>
</html>